/* .graph-container {
  width: 50vw;
} */
.graph {
  height: 35vh;
  width: 100%;
  padding: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgba(144, 170, 184, 0.8);
}
.graph span {
  display: none;
}
.column:hover span {
  display: unset;
  background-color: rgba(212, 217, 190, 0.8);
  color: rgba(48, 51, 32, 1);
  padding: 2px;
  margin: 2px;
  font-weight: bold;
  z-index: 2;
}
.column {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 3%;
  position: relative;
  margin-left: -1vw;
}
.column-value {
  width: 100%;
  overflow: visible;
  white-space: nowrap;
  position: absolute;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.column-label {
  overflow: visible;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  /* white-space: nowrap; */
  /* text-align: center; */
  /* width: 100%; */
  /* transform: rotate(-180deg); */
}
.column-label img {
  width: 100%;
  bottom: 20px;
  left: 0;
  /* min-width: 3px; */
}
