/* color palette:
green
104, 145, 26
light
212, 217, 190
dark
48, 51, 32
light blue
144, 170, 184 */
* {
  text-decoration: none;
}
html,
body {
  height: 100%;
  width: 100%;
}
#navbar {
  display: flex;
  justify-content: space-between;
}
#navbar img {
  width: 10vw;
  padding: 5px;
  height: auto;
  object-fit: contain;
}
.dropdown {
  font-size: 2vh;
  display: flex;
  flex-direction: column;
  padding: 2vh;
}
.tile {
  background-image: url(./images/tile.jpg);
  background-repeat: repeat;
  background-size: contain;
  height: 100%;
  min-height: 100vh;
}
.main {
  background-image: url(./images/pasture_top.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 100%;
}
.container {
  display: grid;
  grid-template-columns: 40vw 40vw;
  gap: 10vw;
  margin: 3%;
  width: 94%;
}
.description {
  background-color: rgba(144, 170, 184, 0.8);
  padding: 5%;
}
@media (max-width: 999px) {
  .container {
    grid-template-columns: 85vw;
  }
  .description {
    width: 85vw;
  }
}
#slogan {
  display: flex;
  align-items: center;
  justify-items: center;
  padding: 0% 5%;
  font-weight: bold;
}
